
@{
    ViewData["Title"] = "Prikazi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <section id="main-content">
        <section class="wrapper">
            <section class="panel">
                <header class="panel-heading">
                    <h2>Nalozi</h2>
                </header>

                <button id="admin" class="btn">Administratori</button>
                <button id="uposlenici" class="btn">Uposlenici</button>
                <button id="klijenti" class="btn">Klijenti</button>

                <br />
                <br />
                @*---AJAX POZIV---*@
                <div id="ajaxPoziv"><h2>Odaberite tip korisnika za pregled</h2> </div>
            </section>
        </section>
    </section>

<script>
    $("#admin").click(function myfunction() {
        $.get("/AjaxKorisnici/Administratori", function (rezultat, status) {
            $("#ajaxPoziv").html(rezultat);
        })

    });

    $("#klijenti").click(function myfunction() {
        $.get("/AjaxKorisnici/Klijenti", function (rezultat, status) {
            $("#ajaxPoziv").html(rezultat);
        })

    });
</script>