
@{
    Layout = null;
}

<label style="width:10%">Ime</label>
<input class="form-control" type="text" placeholder="Ime"name="ime" /><br />

<label style="width:10%">Prezime</label>
<input class="form-control" type="text" placeholder="Prezime" name="prezime" /><br />